.Url {
    border: solid;
    height: 12px;
    margin: 3px;
    padding: 6px;
    background-color: darkviolet;
}
.Url1 {
    border: solid;
    height: 12px;
    margin: 3px;
    padding: 6px;
    background-color: darkgreen;
}